body {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

div#kanvas {
    width: 100%;
    height: 100%;
    background-color: #000000;
}

div#timestamp {
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: rgba(0,0,0,0.8);
    padding: 1em;

    color: #FFFFFF;
    display: none;
}